@model MvcPieShop.ViewModels.HomeViewModel

<h1>@Model.Title</h1>    

    @foreach (var pie in Model.Pies)
    {
        <div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3>
        </div>
    }
